.series-item {
  position: relative;
  background-color: #f5f5f5;
}

.series-item:not(:last-child) {
  margin-bottom: 5px;
}

.series-item-delete {
  position: absolute;
  right: -12px;
  top: 50%;
  transform: translateY(-50%);
}